
<div class="pagebox">
	<h1 class="center">All Surveys</h1>
       <% @surveys.each do |survey| %>
<p><a href="/surveys/<%=survey.id%>"><%= survey.title%></a> | Made By: <%= survey.user.username %></p>


<%end%>
 </div>