<form id="questions" method="GET" action="/surveys/new/2">
  <p>Survey Name: <input name="survey_name" type="text"></p>
  <p>Number of questions: <input name="num_questions" type="text"></p>
  <input value="Next" type="submit">
</form>
