Create an Account
<form action="/signup" method="POST">
  Name: <input type="text" name="username"><br>
  Email: <input type="text" name="email"><br>
  Passord: <input type="password" name="password"><br>
  Confirm Password: <input type="password" name="password_confirmation"><br>
  <input type="submit">
</form>
<br>


<h3>Already a member? signin here
</h3><form action="/login" method="POST">
  Name: <input type="text" name="user[username]"><br>
  Password: <input type="password" name="user[password]"><br>
  <input type="submit" value="go to site!!">

</form>
<!--
<br>
<br>

<STRONG>Question 1</STRONG>: Do you like apples?<br>
<INPUT TYPE="radio" NAME="q1" VALUE="y">Yes
<INPUT TYPE="radio" NAME="q1" VALUE="n">No
  <INPUT TYPE="radio" NAME="q1" VALUE="y">Maybe
<INPUT TYPE="radio" NAME="q1" VALUE="n">Kinda
<br>
<STRONG>Question 2</STRONG>: Really?
<INPUT TYPE="radio" NAME="q2" VALUE="y">Yes
<INPUT TYPE="radio" NAME="q2" VALUE="n">No
<br>
<STRONG>Question 3</STRONG>: Cmon man, everybody likes apples. Agreed?
<INPUT TYPE="radio" NAME="q3" VALUE="y">Yes
<INPUT TYPE="radio" NAME="q3" VALUE="n">No -->
