Create an Account
<form action="/signup" method="POST">
  Name: <input type="text" name="username"><br>
  Email: <input type="text" name="email"><br>
  Passord: <input type="password" name="password"><br>
  Confirm Password: <input type="password" name="password_confirmation"><br>
  <input type="submit">
</form>
<br>


<h3>Already a member? signin here
</h3><form action="/login" method="POST">
  Name: <input type="text" name="user[username]"><br>
  Password: <input type="password" name="user[password]"><br>
  <input type="submit" value="go to site!!">

</form>
